<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sundy.role.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.sundy.role.po.Role">
        <id column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="app_id" property="appId" jdbcType="INTEGER"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="where_sql">
        <where>
            <if test="roleId != null">
                AND role_id = #{roleId,jdbcType=BIGINT}
            </if>
            <if test="roleName != null">
                AND role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                AND status = #{status,jdbcType=TINYINT}
            </if>
            <if test="appId != null">
                AND app_id = #{appId,jdbcType=INTEGER}
            </if>
            <if test="gmtCreate != null">
                AND gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gmtModified != null">
                AND gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <sql id="Base_Column_List">
    role_id, role_name, status, app_id, gmt_create, gmt_modified
  </sql>




    <select id="getByMap" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from ac_role
        <include refid="where_sql"/>
    </select>


</mapper>